/* General specification for the chatBox area */
.chatBox{
  width: 700px;
  font-family: Helvetica;
  overflow-y: scroll;
  height: 700px;
  max-height:700px;
}

/* General css for text bubbles, this mainly concerns the robots bubbles as the humans are overridden later in the
CSS directly below */
.chatGroup .bubble{
  padding: 10px;
  background: #e3e3e3;
  max-width:400px;
  word-wrap: break-word;
  font-size: 18px;
  border-radius: 5px;
  margin-bottom: 2px;
  margin-top: 14px;
}

/* The humans text bubble should be at the right, break to a new line after 400px, and be blue */
.human .actualText .bubble{
  float: right;
  max-width:400px;
  word-wrap: break-word;
  background: #147efb;
  color: #FFFFFF;
  margin-right: 5px;
}

/* Makes sure the avatar is at the left of the robots text bubble */
.chatGroup .avatar{
  float: left;
}

/* float:left means that the robots text bubbles go behind the avatar instead of in front. Margin denotes the vertical
space between every text bubble */
.chatGroup .actualText{
  float: left;
  margin-bottom: 20px;
}

/* First 3 css commands make sure that a robot sending 2 messages will have a new line between them.
 font-size changes the size of the time to be smaller */
.chatGroup {
  clear: both;
  display:block;
  width: 100%;
  font-size: 12px;
}

/* Means that a human sending 2 messages will have a new line between them */
.human .actualText{
  width: 100%;
}

/* The robots time should be aligned to the left */
.actualText .time{
  float: left;
  display: block;
  width: 100%;
  text-align: left;
}

/* The humans time should be aligned to the right */
.human .actualText .time{
  float: right;
  display: block;
  width: 100%;
  text-align: right;
  margin-right:5px;
}

.textBox {
  max-width: 700px;
}

#textBoxInput {
  width: 640px;
  height: 30px;
  margin-top: 11px;
  font-size: 16px;
}
/*The send button should probably have just an icon instead of text saying 'send' it looks nicer */
#sendButton {
  height: 36px;

}