body {
  background-image: url('background.svg');
  background-size: 300px 300px;
  background-repeat: repeat;

}


/* denotes header css, margin:auto to center items, border-radius to round corners, and background colour */
.header {
  margin:auto;
  width: 700px;
  padding-top: 10px;
  text-align: center;
  height: 50px;
  border-radius: 20px 20px 0 0;
  background: rgb(195,34,110);
  background: linear-gradient(0deg, rgba(195,34,110,1) 0%, rgba(253,45,67,1) 100%);
}

/* just concerns the white text saying "National Rail Assistant" */
.headerText {
  color: white;
  font-family: Helvetica, serif;
  padding-top:5px;
  text-align: center;
  font-size: 28px;
  margin-left: 200px;
  vertical-align: middle;
}

/* General specification for the chatBox area */
.chatBox{
  margin: auto;
  width: 700px;
  font-family: Helvetica, serif;
  overflow-y: scroll;
  height: 700px;
  max-height:700px;
  background-color: white;
}

/* General css for text bubbles, this mainly concerns the robots bubbles as the humans are overridden later in the
CSS directly below */
.chatGroup .bubble{
  padding: 10px;
  background: #e3e3e3;
  max-width:400px;
  word-wrap: break-word;
  font-size: 18px;
  border-radius: 5px;
  margin-bottom: 2px;
  margin-top: 14px;
}

/* The humans text bubble should be at the right, break to a new line after 400px, and be blue */
.human .actualText .bubble{
  float: right;
  max-width:400px;
  word-wrap: break-word;
  background: #147efb;
  color: #FFFFFF;
  margin-right: 10px;
}

/* Makes sure the avatar is at the left of the robots text bubble */
.chatGroup .avatar{
  float: left;
}

/* float:left means that the robots text bubbles go behind the avatar instead of in front. Margin denotes the vertical
space between every text bubble */
.chatGroup .actualText{
  float: left;
  margin-bottom: 20px;
}

/* First 3 css commands make sure that a robot sending 2 messages will have a new line between them.
 font-size changes the size of the time to be smaller */
.chatGroup {
  clear: both;
  display:block;
  width: 100%;
  font-size: 12px;
}

/* Means that a human sending 2 messages will have a new line between them */
.human .actualText{
  width: 100%;
}

/* The robots time should be aligned to the left */
.actualText .time{
  float: left;
  display: block;
  width: 100%;
  text-align: left;
}

/* The humans time should be aligned to the right */
.human .actualText .time{
  float: right;
  display: block;
  width: 100%;
  text-align: right;
  margin-right:10px;
}

/* horizontally grouping the text box and send button, aligning them to middle */
.textAndButtonGroup  {
  max-width: 700px;
  margin: auto;
}

/* this is just for the text box and its dimensions, and to vertically align with the button */
#textBoxInput {
  width: 602px;
  height: 30px;
  font-size: 16px;
  vertical-align:middle;
}

/* frame animation for a small glow around text box when speech input has been injected */
@keyframes buttonGlow {
        0% {
          box-shadow: 0 0 2px rgb(180,0,0);
        }
        50% {
          box-shadow: 0 0 10px rgb(255,0,0);
        }
        100% {
          box-shadow: 0 0 2px rgb(180,0,0);
        }
}



/* calls the text box animation */
.animate {
  animation-name: buttonGlow;
  animation-iteration-count: infinite;
  animation-duration: 1300ms;
}


/* this is just for the mic button */
#micButton {
  height: 36px;
  vertical-align: middle;
}

/* this is the icon the mic button is using */
#micIcon {
  height: 30px;

}

/* this is just for the send button */
#sendButton {
  height: 36px;
  vertical-align:middle;
}

/* this is the icon the send button is using */
#sendIcon {
  height: 30px;
}

#volumeButton {
  height: 36px;
  background-color: transparent;
  border: 0;
  margin-left: 130px;
  vertical-align: middle;
}

#volumeIcon {
  height: 34px;
}
