<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" type="image/x-icon" href="/static/robot_small.png">
    <title>National Rail Chatbot</title>
    <link rel="stylesheet" href="/static/style.css">
      <script type="text/javascript" src="{{ url_for('static', filename='javascript.js') }}"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
      <script>
          var socket = io.connect("http://127.0.0.1:5000");
          function sendToPython(text){
              socket.emit('message_from_javascript', text);
          }
          socket.on('message_from_python', function(msg) {
              addRobotMessage(msg);
          });
          if (performance.navigation.type == performance.navigation.TYPE_RELOAD) {
              socket.emit('page_reload', 200);
          }
      </script>
  </head>

  <body onload="micAnalysis()">

<!-- Header to go here? Like a banner across the top saying you're talking to an Assistant? / like ios mesages? -->

<!-- This is the conversation text box -->
<div class="header">
    <div class="headerText"><b>National Rail Assistant</b>
    <button id="volumeButton" type="submit" onclick="volumeButtonClicked()">
        <img id="volumeIcon" alt ="micIcon" src="/static/volume_off.png">
    </button>
</div>
</div>
<div class="chatBox" id="chatBox">
    <!-- THE BELOW IS COMMENTED OUT AND WAS ONLY USED FOR INITIAL TESTING, and for reference of how bubbles are made
        !-- Group for the avatar and robot's message --
        <div class="chatGroup robot">
            <div class="avatar">
                <figure>
                  <img src="/static/robot_small.png">
                </figure>
            </div>
            <div class="actualText">
                <div class="bubble">Hi i'm the robot</div>
                <div class="time">12:22</div>
            </div>
        </div>
        !-- Group for the human's message --
        <div class="chatGroup human">
            <div class="actualText">
                <div class="bubble">I'm the human, and this is a long text, so it breaks the line</div>
                <div class="time">12:23</div>
            </div>
        </div>
        !-- Group for the avatar and robot's message --
        <div class="chatGroup robot">
            <div class="avatar">
                <figure>
                    <img src="/static/robot_small.png">
                </figure>
            </div>
            <div class="actualText">
                <div class="bubble">Okay have a nice day!/div>
                <div class="time">12:24</div>
            </div>
        </div>
        -->
</div>

<div class="textBox">
  <div class="textAndButtonGroup">
    <input type="text" placeholder="Type your message here..." id="textBoxInput" onclick="removeTextGlow()"
           onkeydown ="if (event.keyCode === 13) document.getElementById('sendButton').click()">
      <button id="micButton" type="submit">
        <img id="micIcon" alt ="micIcon" src="/static/mic.png">
    </button>
    <button id="sendButton" type="submit" onclick="onSendPressed()">
        <img id="sendIcon" alt ="sendIcon" src="/static/send.png">
    </button>
  </div>
</div>

  </body>
</html>

